[submodule "datascript"]
	path = datascript
	url = https://github.com/tonsky/datascript.git
[submodule "cljs-start"]
	path = cljs-start
	url = https://github.com/magomimmo/cljs-start.git
[submodule "play-core.logic/core.logic"]
	path = play-core.logic/core.logic
	url = https://github.com/clojure/core.logic.git
[submodule "vendor/kaocha-cljs2"]
	path = vendor/kaocha-cljs2
	url = https://github.com/lambdaisland/kaocha-cljs2.git
[submodule "vendor/kaocha"]
	path = vendor/kaocha
	url = https://github.com/lambdaisland/kaocha.git
